p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/* Classes for Title labels*/
.title0 {
    padding-top: 0;
    font-size: 45px;
    font-family: "aharoni", "Avenir Next LT", "Berlin Sans FB";
}
.title1 {
    font-size: 30px;
    font-family: "abadi", "cambria","arial";
    font-weight: bold;
}

.title2 {
    font-size: 15px;
    font-family: "abadi", 'Cambria', 'Cochin';
    font-weight: bold;
}

/*images and containers*/
.imported_image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

figure {
    width: 100px;
    height: auto;
}

/* one line containers */
.inline_objects {
    display: inline-block;
}

/* Nombres de clases y pseudo clases por BEM: Bloque__Elemento--modificador */
table {
    border: 2px solid;
    border-color: #1B3022;
    width: 80%;
    border-collapse: collapse;
    border-radius: 10em;
}

tr, td {
    border: 2px solid;
    border-color: #1B3022;
    padding: 5px;
}

.more-tables {
    margin-top: 10px;
    list-style: none;
    padding-left: 20px;
    background-color: #1B3022;
}

.more-tables__item {
    display: inline-block;

}
.more-tables__item a {
    padding: 15px;
    color: white;
    text-decoration: none;
}
.more-tables__item a:hover {
    color: #A67DB8;
}
.more-tables__item a:active {
    color: #395756;
}
.more-tables__item a::before {
    content: " -> ";
}
.more-tables__item a::after {
    content: " | ";
}