/* general styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 75%;
    margin: 30px auto 30px auto;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/* Forms */
form {
    margin: 30px auto;
    padding: 15px;
    width: 70%;
    border-color: #001C55;
    border: 3px solid;
    border-radius: 15px;
    background-color: #0E6BA8;
}
form label {
    display: block;
    margin: 20px auto 20px auto;
}

/* Main label on the website */

.main-title {
    position: relative;
    width: 80%;
    margin: auto;
    background-color: #001C55;
}

.main-title h1 {
    position: absolute;
    display: inline-block;
    color: aliceblue;  
    margin-top: 50px; 
    margin-right: 30px;
    margin-left: auto;
    margin-bottom: 30px;
    font-size: 50px;

}

.main-title figure{
    display: inline-block;
    max-width: 160px;
    margin: 5%;
}

/* Classes for Title labels*/
.title0 {
    padding-top: 0;
    font-size: 45px;
    font-family: "aharoni", "Avenir Next LT", "Berlin Sans FB";
}
.title1 {
    font-size: 30px;
    font-family: "abadi", "cambria","arial";
    font-weight: bold;
}
.title2 {
    font-size: 15px;
    font-family: "abadi", 'Cambria', 'Cochin';
    font-weight: bold;
}
/*images and containers*/

.imported_image {
    display: inline-block;
    max-width: 150px;
    object-fit: contain;
}

/* Nombres de clases y pseudo clases por BEM: Bloque__Elemento--modificador */
table {
    margin: 10px auto;
    width: 80%;
    border: 2px solid;
    border-color: black;
    border-collapse: separate;
    border-radius: 10px;
}

table figure {
    text-align: center;
    margin: 0 auto;
}
tr, td {
    border: 2px  black solid;
    padding: 5px;
    border-spacing: 15px;
}

tr:last-of-type{
    width: 50%;
}

tr cientific_name {
    width: 10%;
}

/* more tables menu */
.more-tables {
    margin: 10px auto 10px auto;
    width: 80%;
    list-style: none;
    padding-left: 20px;
    background-color: #001C55;
}
.more-tables__item {
    display: inline-block;

}
.more-tables__item a {
    padding: 15px;
    color: white;
    text-decoration: none;
}
.more-tables__item a:hover {
    color: #A6E1FA;
}
.more-tables__item a:active {
    color: #001C55;
}
.more-tables__item a::before {
    content: " -> ";
}
.more-tables__item a::after {
    content: " <- ";
}
/* boxes and containers */
